body
{
background-color: rgba(0, 250, 154, 0.37);

}
h1{
color: rgb(63, 90, 59);
text-align: center;
text-transform: uppercase;
text-transform: uppercase;
}
/* Set height of body and the document to 100% to enable "full page tabs" */
/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #4CAF50;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}








body{
 background: #ececec;
}
img {
 height: auto;
 max-width: 100%;
}
.content{
 margin-top: 50px;
}
.product {
 background: #fff none repeat scroll 0 0;
 border: 1px solid #c0c0c0;
 height: 390px;
 overflow: hidden;
 padding: 25px 15px;
 position: relative;
 text-align: center;
 transition: all 0.5s ease 0s;
 margin-bottom: 20px;
}
.product:hover {
 box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
 font-weight: bold; /* Жирное начертание */
}
.product-img {
 height: 200px;
}
.product-title a {
 color: #000;
 font-weight: 500;
 text-transform: uppercase;
 font-weight: bold; /* Жирное начертание */
}
.product-desc {
 max-height: 60px;
 overflow: hidden;
}
.product-price {
 bottom: 15px;
 left: 150;
 position: absolute;
 width: 100%;
 color: #d51e08;
 font-size: 18px;
 font-weight: 500;
 font-weight: bold; /* Жирное начертание */
}
img{
height: auto;
 max-width: 100%;
}
.product-img {
 height: 200px;
}
.product-desc {
 max-height: 60px;
 overflow: hidden;
} 


.product-price {
 bottom: 15px;
 left: 0;
 position: absolute;
 width: 100%;
 color: #d51e08;
 font-size: 18px;
 font-weight: 500;
}